sudo: false
language: php
php:
  - 7.1
  - 7.2
  - 7.3

services:
  - redis-server

before_script:
  - pecl install igbinary
  - pecl install redis <<< 'no\n'
  - composer self-update
  - composer install --ignore-platform-reqs

script:
  - phpunit --configuration ./test/phpunit.xml
